.sticky_box {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  left: 80%;
  top: 110px;
  width: 0%;
  height: 0;
  border-radius: 10px;
}

.ad_image {
  border-radius: 10px;
  width: 250px;
  height: 450px;
}
