.sticky_box {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  left: 80%;
  top: 110px;
  width: 0%;
  height: 0;
  border-radius: 10px;
  background-color: red;
}

.ad_image {
  border-radius: 10px;
  width: 260px;
  height: 450px;
  background-color: #ececec;
  padding: 20px;
}
