.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    max-width: 400px;
    width: 100%;
    transition: transform 1.5s ease-out;
    /* background-color: red; */
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 1.5s ease-out;
  }
  
  .Modal.isOpen {
    transform: translate(-100%, -50%);
  }
  
  .Overlay.isOpen {
    opacity: 1;
  }
  