@font-face {
    font-family: "noto-sans";
    src: url("../assets/fonts/NotoSerifKR-Regular.otf");
}

@font-face {
    font-family: "Crisis";
    src: url("../assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}

@font-face {
    font-family: "Hahmlet";
    src: url("../assets/fonts/Hahmlet-VariableFont_wght.ttf");
}


.CustomerMyPage{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 50px;
    /* background-color: rgb(48, 42, 81); */
    height: 900px;
    /* background-image: url("../assets/logo/star2.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white; */
    
}
.user_profile{
    display: flex;
    /* background-color: red; */
    /* justify-content: center; */
    align-items: center;
     width: 600px;
     margin-left: 17%;
}

.user_img img{
    width: 100px;
    height: 100px;
    /* border-radius: 50px; */
}

.user_log{
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    /* background-color: red; */
    width: 600px;
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("../assets/img/login-banner.jpeg");
    color: #ffffff

}

.user_menu{
    display: flex;
    justify-content: center;
}

.user_list{
    list-style: none;
    /* background-color: red; */
    width: 600px;
    padding-left: 0;
  
}

.menu_logo{
    width:30px;
    height: 30px;
    color: rgb(50, 50, 50)

}

.user_list li{
    border-bottom: 2px solid gray;
    height: 70px;
    display: flex;
    align-items: center;
    width: 600px;
    cursor: pointer;
    font-family:Hahmlet ;
    /* padding-left: 10px; */
    box-shadow: 1px  gray;
    justify-content: space-between;
    /* border-radius: 5px; */
  
}


/* .user_list li:hover{
   background-color: lightgray; 
} */

.comment_greet{
    font-family: "Hahmlet";
    
}
.comment_mypage{
       font-family: "Hahmlet";
       font-size: 24px;
       font-weight: bold;
}


.donate_amount{
    font-family: "noto-sans";
}

.menu_logo{
    margin-left: 10px;
    margin-right:20px;
}

.menu_left{
    display: flex;
    align-items: center;
    /* background-color: red; */
    width: 170px;
    
}

.user_donate{
    /* background-color: red; */
    display: flex;
    flex-direction: column;;
    align-items: center;
}

.donate_title{
    font-weight: bold;
}

/* 개인정보 변경 */
.modify_title{
    font-family: "Hahmlet";
    font-size: 28px;
    margin-bottom: 20px;
}

.modify_notice{
    background-color: rgb(220, 220, 220);
    width: 500px;
    height: 100px;
    word-break: break-all;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.modify_content{
    width: 350px;
    color: rgb(58, 58, 58);
    font-weight: bold;
}

.modify_nickname{
    width: 500px;
    font-family: "Hahmlet";
    margin-top: 25px;
}

.modify_before{
    display: flex;
    align-items: center;
    font-size: 18px;
    /* padding-left: ; */
    width: 500px;
    height: 50px;
    background-color:rgb(220, 220, 220);
}

.modify_name{
    padding-left: 15px;
}
.modify_after{
    width: 500px;
}
.modify_input{
    width: 100%;
    height: 50px;
    border-style: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: bold;
    color: gray;
    padding-left: 10px;
    font-weight: 400;
}


.modify_input:focus{
    outline:none;
    border-bottom: 2px solid black;
}

.modify_nick{
    margin-bottom: 5px;
    font-weight: 600;
}


.modify_finish{
    margin-top: 25px;
}

.modify_btn{
    width: 200px;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d1c2f0;
    border-style: none;
    color: white;
}


.modify_btn:disabled{
    width: 200px;
    height: 60px;
    font-size: 18px;
    border-radius: 5px;
    cursor: no-drop;
    background-color: lightgray;
    border-style: none;
    color: #909090;
}