@font-face {
  font-family: "noto-sans";
  src: url("../assets/fonts/NotoSerifKR-Regular.otf");
}

@font-face {
  font-family: "Crisis";
  src: url("../assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}

@font-face {
  font-family: "Hahmlet";
  src: url("../assets/fonts/Hahmlet-VariableFont_wght.ttf");
}

.mainWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
}

.mainBanner {
  font-family: "Hahmlet";
  display: flex;
  flex-direction: column;
  height: 15rem;
  overflow: hidden;
  background-image: url("../assets/img/night-sky1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bannerTitle {
  font-family: "Hahmlet";
  font-size: 2.5rem;
  /* font-weight: bold; */
  color: white;
}

.bannerSubTitle {
  font-family: "Hahmlet";
  font-size: large;
  color: white;
  position: relative;
  right: 6rem;
}

.fundWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blockWrapper {
  display: block;
  position: relative;
  width: 65%;
  max-height: 180px;
}
.scroll_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 180px;
}

/* .categoryWrapper:hover::-webkit-scrollbar {
  width: 8px;
} */

.categoryWrapper {
  margin-top: 1rem;
  width: 100%;
  max-height: 180px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  z-index: 10;
}

.btn_left {
  display: block;
  position: absolute;
  left: -30px;
  top: 0;
  top: 50%;
  bottom: 50%;
}

.btn_right {
  display: block;
  position: absolute;
  right: -60px;
  top: 50%;
  bottom: 50%;
}

.categoryWrapper::-webkit-scrollbar {
  display: none;
}

/* 카테고리박스 색바꾸기 더 깔끔한 방법 찾으면 추후에 수정 */
.category_box {
  /* 크기 및 간격 설정 */
  min-width: auto;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
}

.box_color_1 {
  background-color: #be6db7;
}
.box_color_2 {
  background-color: #ffaacf;
}
.box_color_3 {
  background-color: #dbd9ec;
}
.box_color_4 {
  background-color: #a19fd5;
}
.box_color_5 {
  background-color: #6f6d8f;
}

.categoryText {
  font-family: "Hahmlet";
  color: white;
}

.cardsTitle {
  margin-top: 2rem;
  float: left;
  width: 900px;
  font-family: "Crisis";
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cardsWrapper {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
}

.pagination {
  font-family: "Hahmlet";
  margin-bottom: 2rem;
}
