@font-face {
  font-family: "noto-sans";
  src: url("../assets/fonts/NotoSerifKR-Regular.otf");
}

@font-face {
  font-family: "Crisis";
  src: url("../assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}

@font-face {
  font-family: "Hahmlet";
  src: url("../assets/fonts/Hahmlet-VariableFont_wght.ttf");
}

.mainWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
}

.mainBanner {
  font-family: "Hahmlet";
  display: flex;
  flex-direction: column;
  height: 15rem;
  overflow: hidden;
  background-image: url("../assets/img/night-sky1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bannerTitle {
  font-family: "Hahmlet";
  font-size: 2.5rem;
  /* font-weight: bold; */
  color: white;
}

.bannerSubTitle {
  font-family: "Hahmlet";
  font-size: large;
  color: white;
  position: relative;
  right: 6rem;
}

.fundWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blockWrapper {
  display: block;
  position: relative;
  width: 65%;
  max-height: 180px;
}



/* 스크롤 생기는곳 (밖 박스)*/
.categoryWrapper {
  margin-top: 1rem;
  width: 100%;
  max-height: 180px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  border-radius: 10px;
  background-color: floralwhite;
}
.scroll_box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: none;
  max-height: 180px;
}

.categoryWrapper::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;

}

.categoryWrapper:hover{
  border: solid 1px #a19fd5;
  background-color: rgb(244, 232, 211);
}


.category_box {
  display: flex;
  align-self: center;
  font-family: "Hahmlet";
  color: #ececec;
}


.category_box input[type=radio]{
  display: none;
}

.category_box input[type=radio]+label{
  font-family: "Hahmlet";
  font-size:13px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
}

/* 라디오 버튼 폰트 색깔 */
.category_box input[type=radio]+label{
    color: #ececec;
    font-size:13px;
    font-weight: bold;
}


/* 체크된 것 색깔표시 */
.category_box input[type=radio]:checked+label{
  color: black;
  border: greenyellow 1px solid;
  background-color: seashell;
  font-weight: 800;
}
/* 카테고리 박스 기본 색깔 5가지 */
.box_color_1 {
  background-color: #d87dd1;
}
.box_color_2 {
  background-color: #ffaacf;
}
.box_color_3 {
  background-color: #8176e6;
}
.box_color_4 {
  background-color: #a19fd5;
}
.box_color_5 {
  background-color: #879eba;
}


.cardsTitle {
  margin-top: 2rem;
  float: left;
  width: 900px;
  font-family: "Crisis";
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cardsWrapper {
  width: 900px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
}

.pagination {
  font-family: "Hahmlet";
  margin-bottom: 2rem;
}
