@font-face {
    font-family: "Hahmlet";
    src: url("../assets/fonts/Hahmlet-VariableFont_wght.ttf");
}

@font-face {
    font-family: "ClimateCrisis";
    src: url("../assets/fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf");
}


.NoticeList{
    /* background-color: red; */
    font-family: "Hahmlet";
    display: flex;
    flex-direction: column;
    align-items: center;

}

.notice_title {
    font-size: 36px;
    background-color: #A19FD5;
    width: 920px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: bold;
}
.notice_section{
    /* background-color: blueviolet; */
    width: 920px;
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    /* background-color: red; */

}

.notice_list{
    list-style: none;
    /* background-color: blue; */
    width: 920px;
    padding-left:0;
}

.notice_item{
    background-color: #DBD9EC;
    opacity: 0.9;
    width: 920px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    
}
.item_nav{
    padding-left: 15px;
    display: flex;
    /* background-color: red; */
    width: 520px;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
.nav_num{
    /* background-color: red */
    font-size: 16px;
    color: #BDBADC;
    font-weight: bold;
}
.nav_type1{
    /* background-color: red */
    /* border: 1px solid red; */
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    /* color: red; */
}
.nav_type2{
    /* background-color: red */
    border: 1px solid black;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}
.nav_title{
    /* background-color: red; */
    width: 400px;
    font-size: 16px;
    font-weight: 600;
}

.item_date{
    /* background-color: blue; */
    width: 25%;
    text-align: center;
    font-size: 16px;
    color: #929292;
}

