.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.item {
  display: flex;
  flex-direction : column;
  flex: 1 0 300px;
  border-color : black;
}

.cardIndex {
  /* display: flex; */
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  
}

.cardTop {
  height: 80px;
  background-color: #A19FD5;
  display: flex;
}

.title {
  margin-left : 10px;
  margin-top : 10px;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color : white;
}


.cardContent {
  direction: row;
  display: flex;
  align-items: center;
}


.imageContainer {
  flex: 1;
  min-width: 180px;
  margin-left: 10px;
}


.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



.content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contentItem {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f7f7f7;
  border-radius: 20px;
}

.patientInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.patientInfoItem {
  width: calc(30% - 10px);
  min-width: 150px;
  margin-bottom: 10px;
}

.patientInfoTitle {
  font-size: 18px;
  color: #aaa;
}

.patientInfoContent {
  font-size: 18px;
  font-weight: bold;
}


/* 병원이 작성한 카드 */
.treatmentRecords {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* 각 카드 */
.record {
  width: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* 이전버전 */
/* 
.record { 
  border-radius: 0 0 10px 10px;
  flex-basis: calc(30% - 10px);
  margin-bottom: 20px;
 border-radius: 100px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: black;
}
*/

/* 치료일자 */
.recordDate {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  min-height: 30px;
  background-color: #646298;
  color: white;
}

/* 치료사진 */
.recordImage {
  width: 100%;
}

/* 치료내용 */
.recordContent {
  background-color: #fff;
  padding : 10px;
}


.recordContent p {
  font-size: 16px;
  line-height: 1.5;
}
