.container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* 전체 화면 마진 -> 양 옆 300씩 */

.item {
    display: flex;
    flex-direction: column;
    flex: 1 0;
}


/* 입력부분 */

.searchContainer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A19FD5;
    /* padding: 16px; */
}


/* 치료일기 */

.searchBarText {
    font-family: "Hahmlet";
    font-size: 40px;
    font-weight: bold;
    min-width: 100px;
    padding-left: 10px;
    margin: 15px;
    /* position : relative; */
}


/* 돋보기, 입력칸 */

.searchInputContainer {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 7px 16px;
    border: none;
    border-radius: 32px;
    outline-color: black;
    flex-grow: 1;
    margin-left: 20%;
    margin-right: 10px;
    position: absolute;
    max-width: 60%;
}


/* 입력칸 */

.searchInput {
    font-family: "Hahmlet";
    flex-grow: 1;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    padding: 7px 16px;
    border: none;
    border-radius: 32px;
    outline-color: black;
    min-width: 500px;
    width: 100%;
    box-sizing: border-box;
}


/* 가로선 */

.garoseon {
    padding-top: 30px;
    padding-bottom: 20px;
}

.searchResult {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    margin: 10px;
    padding-bottom: 20px;
    font-weight: lighter;
    font-family: "Hahmlet";
    color: darkgray;
}

.searchResultMain {
    display: flex;
    min-width: auto;
    font-size: 30px;
    font-weight: bold;
    font-family: "Hahmlet";
    color: black;
    justify-content: center;
}


/* 카드내용들 */
.cardWhat {
  display: flex;
  flex-direction: row;
  height: 160px;
  background-color: white;
  margin: 10px;
  box-shadow: 0px 3px 3px #c2c1c1;
  border-radius: 5px;
  position: relative;
}


/* 카드 상단 배경 */

.cardTop {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #A19FD5;
}


/* 테두리포함 이미지 */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #A19FD5;
  position: absolute;
  margin : 25px;
}


/* 카드 이미지 */
.image {
  height: 115px;
  width: 115px;
  border-radius: 50%;
  position: absolute;
}


.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 170px; /* 왼쪽 여백 조절 */
  right: 10px; /* 오른쪽 여백 조절 */
  color : white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name {
  font-family: "Hahmlet";
  font-size: 28px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}




.content {
  font-family: "Hahmlet";
  display: flex;
  direction: row;
  overflow-x: auto;
  /* margin-top: 4px; */
  margin-bottom: 20px;
  padding-bottom: 8px;
  font-size : 20px;
}

.contentItem {
  color: white;
  background-color: #A19FD5;
  font-family: "Hahmlet";
  font-size: 15px;
  display: flex;
  /* align-items: center; */
  padding: 7px 16px;
  border: none;
  border-radius: 32px;
  outline-color: black;
  flex-grow: 0;
  position: relative;
  margin-right: 8px;
}

.bottomContent {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.detailButton {
    color: white;
    background-color: #A19FD5;
    font-size: 15px;
    font-family: "Hahmlet";
    display: flex;
    align-items: center;
    padding: 7px 16px;
    border: none;
    border-radius: 32px;
    outline-color: black;
    position: absolute;
    right: 1%;
    bottom: 5%;
}