.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction : column;
  flex: 1 0 300px;
  margin: 100px 300px 5px 300px;
}
.searchContainer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A19FD5;
  width: 100%;
  border-radius: 40px;
  margin-bottom: 16px;
}

.searchInput {
  box-sizing: border-box;
  width: 100%;
  padding: 7px 7px 7px 16px;
  background-color: white;
  border:none;
  border-radius: 32px;
  outline-color: black;
}
